
.container
{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}


/* header */
header
{
    background: url('separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 180px;
    height: 130px;
}


/*la liste a puce en header*/

nav ul             
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #1c1a19;
    padding-bottom: 3px;
    text-decoration: none;
}


/* La banniere */
#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('banniere.JPG') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}
#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;

}

/* Corps */
body
{
    background-color: #BBDDE6;
    font-family: Verdana, Tahoma, sans-serif;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}
/* section RF*/
.name
{
    padding-top: 10px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.image
{
 display: flex;   
 float: left;
 flex-direction: column;
 margin: 0px 0px 0px 100px;
}

.image2
{
   margin-right: 100px;
}



/*selection pour les tableau*/
table 
{
   height: 300px;
}


.board
{
    width: 70%;  
}

.table
{
   margin-left: 300px;
}

/* Footer */


